/*------------------------------------*\
  GLOBAL
\*------------------------------------*/
body {
  font:normal 12px Tahoma,Microsoft YaHei,Verdana,Arial,Helvetica,sans-serif;
  background: #EEE url(../images/bg.png) repeat;
}

.board{
  background-color: #fff;
  margin-top:10px;
  margin-bottom: 10px;
}
 
/* --------- header --------- */
header#main-header {
  font: 75%/1.5 Georgia, 'Times New Roman', Serif;
  margin-top: 25px;
  border-bottom: 1px solid #dcdcdc;
}
  header#main-header hgroup {
    float: left;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  }
  header#main-header hgroup h1 {
    font-size: 4em;
  }
  header#main-header nav {
    float: right; 
  }
  header#main-header h1 {
    margin-bottom: 5px;
  } 
  header#main-header h1 a{
    color: #333;
  }
  header#main-header h2 {
    color: #777; 
    font-size: 1.2em;
  }

  ul#nav-menu {
    list-style: none;
  }
    ul#nav-menu li {
      display: inline-block;
      margin: 0px 5px 0px 0;
      opacity:0.2; 
      -webkit-transition: opacity .3s linear;
      -moz-transition: opacity .3s linear;
      -o-transition: opacity .3s linear;
      transition: opacity .3s linear;     
    }
    ul#nav-menu li:hover {
      opacity: 1;
    }
    
    ul#nav-menu li a.home {
      display: block;
      background:url('../images/home_16x16.png') no-repeat scroll left center;
      width: 18px;
      height: 18px;  
    }
    ul#nav-menu li a.feed {
      display: block;
      background:url('../images/rss_16x16.png') no-repeat scroll left center;
      width: 18px;
      height: 18px;  
    }

/* --------- footer --------- */
footer {
  padding-top:10px;
  font-family: Verdana, sans-serif;
  font-size: 9px;
  color: #647975;
  border-top: 1px dotted #cccccc;
  margin-bottom: 20px;
}
   
/* --------- article display --------- */
article {
  margin-bottom: 20px;
  padding: 10px 30px;
}
article ul.meta {
  color: #999;
  font-size: 1em;
  line-height: 12px;  
  list-style: none;
  margin: 0 0 15px 0;
}
article ul.meta li {
  display: inline-block;
  height: 18px;
  line-height: 18px;
  margin: 0 5px 0 0;
}

    
/* --------- post edit --------- */
 
#editor-wrapper {
  margin:0 0 20px;
  min-height: 320px;
  background: white;
  box-shadow: 0 1px 2px #CCC;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

#preview article {
  padding:5px 8px;
}
#preview article .output-html code {
    overflow:auto;
} 

#editor {
  padding:5px;
  margin:10px 5px;
} 

#editor textarea {
  box-shadow: none;
  border-style: dashed;
  width: 100%;
  margin: 0;
  min-height: 410px;
  overflow-y: auto;
}

a#open-category {
  color: #fff;
  padding: 3px 5px;
  background-color:#000;/* fallback */
  background-color: rgba(0,0,0, .5); 
  font: 9px Verdana, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
}

div#category-dialog div.loading {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f00;
    color: #ff0;
    padding: 2px 15px 2px 8px;
}
div#category-dialog ul {
    list-style: none;
}
div#category-dialog input[type=text] {
    width: 200px;
}


