# -*- coding: utf-8 -*-

DEV_MODE = True

author = "John Doe"
disqus_shortname = "demo"
title = "Hello World"
subtitle = "Bonjour Monde"

bottom_links = {"github" : "https://github.com/", "twitter" : "https://twitter.com/"}