{% extends "layout.html" %}



{% block head %}
    {{ super() }}
{% endblock %}



{% block content %}
<div class="container board">    
  {% if not posts %}
    <h1>There isn't any posts yet!</h1>
  {% else %}
   {% for post in posts %}
  
    <article>
      <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  
      <ul class="meta">
        <li><i class="icon-time"></i>&nbsp;<time datetime="{{ post.published_at.strftime("%Y-%m-%d") }}">{{ post.published_at.strftime("%B %d, %Y") }}</time></li>
        <li><i class="icon-folder-close"></i>
        In:
        {% if not post.category %}
        Uncategoried
        {% else %}
        <a href="{{url_for('category_posts_path', category_name = post.category.name)}}">{{ post.category.name }}</a>
        {% endif %}
        </li>
        
        <li><i class="icon-comment"></i>&nbsp;<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.key().id()|string }}">Comments</a>  </li>
      </ul> 
             
      <div class="output-html">
        {{ post.summary|safe }}
      </div>
         
      <a href="{{ post.url }}">Continue reading &raquo;</a>      
      
    </article>
   {% endfor %}
    
    <ul class="pager">
      <li>{% if has_next%}<a href="/?page={{page + 1}}"> &laquo; Older Posts</a>{%endif%}</li>
      <li>{% if has_prev%}<a href="/?page={{page - 1}}">Newer Posts &raquo;</a>{%endif%}</li>
    </ul>
  
  
  
   
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = '{{ app_config.disqus_shortname }}';
      {% if app_config.DEV_MODE %}var disqus_developer = 1; {% endif %}
  
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      })();
  
  </script>
  {% endif %}
</div>

{% endblock %}