{% extends "layout.html" %}

{% block title %} {{post.title}}{% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" media="all" href="/stylesheets/highlight.css"/>
<script type="text/javascript" src="/javascripts/highlight.pack.js"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
</script>
{% endblock head%}


{% block content %}
{% if post %}
<article>
	<h2 class="article-title"><a href="{{post.url}}">{{ post.title }}</a></h2>

	<ul class="meta">
	  <li class="post-time"><time datetime="{{ post.published_at.strftime("%Y-%m-%d") }}">{{ post.published_at.strftime("%Y-%m-%d") }}</time></li>
      <li class="post-category">
      In:
      {% if not post.category %}
      Uncategoried
      {% else %}
      <a href="{{url_for('category_posts_path', category_name = post.category.name)}}">{{ post.category.name }}</a>
      {% endif %}
      </li>
	  
	  <li class="post-comments"><a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.key()|string }}">Comments</a></li>
	 
	  {% if is_admin() %}          
	  <li>
		<a class="admin edit-post" href="/posts/{{ post.key().id() }}/edit">Edit</a>
		<a class="admin del-post" href="/posts/{{ post.key().id() }}" data-method="delete" data-confirm="are you sure?">Delete</a>
	  </li>  
	  {% endif %}                      
	</ul>        
	<div class="output-html">
	  {{ post.body_html|safe }}
	</div>

	{% if post.tags %}
	<div class="meta-tags">
        {% for tag in post.tags %}
        <a href="/posts/tagged/{{tag}}">{{tag}}</a>
        {% endfor %}
	</div>
	{% endif %} 
        
	<hr/>

	 
	<div id="disqus_thread"></div>
    
	<script type="text/javascript">
		
		var disqus_shortname = '{{ app_config.disqus_shortname }}'; 
		var disqus_identifier = '{{ post.key()|string }}';
		{% if app_config.DEV_MODE %}var disqus_developer = 1; {% endif %}

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();

		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		})();
	</script>
 
</article>
{% endif %}
{% endblock content%}