{% extends "layout.html" %}



{% block head %}
    {{ super() }}
{% endblock %}



{% block content %}
<div class="container board">     
{% if not posts %}
  <h1>There isn't any posts yet!</h1>
{% else %}
 {% for post in posts %}

  <article>
    <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

    <div class="output-html">
      {{ post.summary|safe }}
    </div>
       
    <a href="{{ post.url }}">Continue reading &raquo;</a>

    {% if is_admin() %}
    <ul class="post-actions">
      <li><i class="icon-edit"></i>&nbsp;<a class="" href="/posts/{{ post.key().id() }}/edit">Edit</a></li>
      <li><i class="icon-remove"></i>&nbsp;<a class="" href="/posts/{{ post.key().id() }}" data-method="delete" data-confirm="are you sure?">Delete</a></li>
    </ul>
    {% endif %}    
  </article>
 {% endfor %}
  
 
 
{% endif %}
</div>    
{% endblock %}