{% extends "layout.html" %}

{% block title %} {{post.title}}{% endblock %}


{% block head %}
{{ super() }}
<link rel="stylesheet" media="all" href="/stylesheets/highlight.css"/>
<script type="text/javascript" src="/javascripts/highlight.pack.js"></script>
<script type="text/javascript">
  hljs.initHighlightingOnLoad();
</script>
{% endblock head%}


{% block content %}
<div class="container board"> 

  <article>
  	<h2 class="article-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
  
  	<ul class="meta">
        <li><i class="icon-time"></i>&nbsp;<time datetime="{{ post.published_at.strftime("%Y-%m-%d") }}">{{ post.published_at.strftime("%B %d, %Y") }}</time></li>
        <li><i class="icon-folder-close"></i>
        In:
        {% if not post.category %}
        Uncategoried
        {% else %}
        <a href="{{url_for('category_posts_path', category_id = post.category.key().id())}}">{{ post.category.name }}</a>
        {% endif %}
        </li>
       <li><i class="icon-comment"></i>&nbsp;<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.key().id()|string }}">Comments</a></li>
  	</ul>        
  	<div class="output-html">
  	  {{ post.body_html|safe }}
  	</div>
    {% if is_admin() %}
    <ul class="post-actions">
      <li><i class="icon-edit"></i>&nbsp;<a class="" href="/posts/{{ post.key().id() }}/edit">Edit</a></li>
      <li><i class="icon-remove"></i>&nbsp;<a class="" href="/posts/{{ post.key().id() }}" data-method="delete" data-confirm="are you sure?">Delete</a></li>
    </ul>
    {% endif %}      
  </article>
  
  	 
  <div id="disqus_thread"></div>
      
  <script type="text/javascript">
  	
  	var disqus_shortname = '{{ app_config.disqus_shortname }}'; 
  	var disqus_identifier = '{{ post.key().id()|string }}';
  	{% if app_config.DEV_MODE %}var disqus_developer = 1; {% endif %}
  
  	/* * * DON'T EDIT BELOW THIS LINE * * */
  	(function() {
  		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  	})();
  
  	(function () {
  		var s = document.createElement('script'); s.async = true;
  		s.type = 'text/javascript';
  		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  	})();
  </script>
   
 

</div>
{% endblock content%}