{% extends "layout.html" %}

{% block title %}Create a New Post{% endblock %}
{% block body_class %}private{% endblock %}

    

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js" ></script>

<script type="text/javascript" src="/javascripts/showdown.js"></script>
<script type="text/javascript" src="/javascripts/jquery.elastic.js"></script>

<script type="text/javascript">
    $(function(){
      $("#input-body").keyup(function(){
        converter = new Showdown.converter();
        $(".output-html").html(converter.makeHtml($("#input-body").val()));
      });

      $('#title').keyup(function(){$('.article-title').html($(this).val())});

      $('textarea#input-body').elastic(); 


      $( "#category" ).autocomplete({
        source: "/categories.json",
        minLength: 2
      });
    })

</script>

{% endblock %}





{% block content %}
<div id="edit-post" class="clearfix">

  <div id="preview">
     <h3>Preview: </h3>
     <article>
       <h2 class="article-title"><a href="#">{{ post.title or "" }}</a></h2>     
       <ul class="meta">
         <li class="post-time"><time>{{ post.created_at or "" }}</time></li>
         <li class="post-tags">tags:</li>
        </ul>        
       <div class="output-html">{{ post.body_html or ""|safe }}</div>     
     </article> 
  </div>


  <div id="article-input">
    
      {% if post.is_saved() %} 
      <form action="{{ url_for('post_path',id=post.key().id()) }}" method="POST">
      <input type="hidden" name="_method" value="put" />
      {% else %}
      <form action="{{ url_for('posts_path') }}" method="POST"> 
      {% endif %} 
      <ul>
        <li><label for="title">Title:</label><input id="title" name="title" type="text" placeholder="Title" required value="{{ post.title or "" }}" /></li>      
        <li><label for="slug">Slug:</label><input id="slug" name="slug" type="text" placeholder="Slug: (could auto-generate by title)" value="{{ post.slug or ""}}" /></li>
        <li>
            <label for="tags">Tags:</label>
            <input id="tags" name="tags" type="text" placeholder="Tags: (separated by comma)" value="{{ (post.tags or "")|join(',') }}" />
        </li>
        <li>
            <label for="category">Category:</label>
            <input id="category" name="category" type="text" value="{{ category.name if category }}" />           
        </li> 
        <li><a href="http://kramdown.rubyforge.org/quickref.html" target='_blank'>Markdown Syntax<a><li>
        <li><textarea id="input-body" name="body" placeholder="Content">{{ post.body or "" }}</textarea></li>     
        <li>
          {%if post.published != True %} <button type="submit" name="submit" value="draft">Save as Draft</button>{% endif %}
          <button type="submit" name="submit" value="post">Post This</button>          
        </li>
      </ul> 
    </form>
  </div>

 

</div>
{% endblock %}
