{% extends "layout.html" %}
{% set hideheader = True %}
{% set hidefooter = True %}

{% block title %}Create a New Post{% endblock %}
    

{% block head %}
{{ super() }}
<script type="text/javascript" src="/javascripts/showdown.js"></script>
<script type="text/javascript" src="/javascripts/jquery.elastic.js"></script>

<script type="text/javascript">
    $(function(){
      $("#input-body").keyup(function(){
        converter = new Showdown.converter();
        $(".output-html").html(converter.makeHtml($("#input-body").val()));
      });

      $('#title').keyup(function(){$('.article-title').html($(this).val())});

      $('textarea#input-body').elastic(); 


      $( "#category" ).typeahead({source: ['{{ categories|join("','", attribute='name')|safe }}']});
    })

</script>

{% endblock %}





{% block content %}
<div class="container-fluid">
  <div class="row-fluid" style="margin-top:10px;">
    <ul class="breadcrumb">
      <li>
        <a href="{{url_for('index')}}">Home</a> <span class="divider">/</span>
      </li>
      <li class="active">Post</li>
    </ul>
  </div>

  <div id="editor-wrapper" class="row-fluid">
  
    <div id="preview" class="span6">
       <article>
         <h2 class="article-title"><a href="#">{{ post.title or "" }}</a></h2>     
         <div class="output-html">{{ post.body_html|safe }}</div>     
       </article> 
    </div>
  
  
    <div class="span6">
      <div id="editor"> 
        <form action={% if post.is_saved() %} "{{ url_for('post_update',id=post.key().id()) }}" {% else %} "{{ url_for('post_create') }}" {% endif %} method="POST" class="well">
          {% if post.is_saved() %} <input type="hidden" name="_method" value="put" /> {% endif %}
          <input id="title" name="title" type="text" placeholder="Title" required value="{{ post.title or "" }}" /></li> 
          <input id="slug" name="slug" type="text" placeholder="Slug: (could auto-generate by title)" value="{{ post.slug or ""}}" /></li>
          
          <input id="category" name="category" type="text" placeholder="Category" value="{{ category.name if category }}" />           
          
          <textarea id="input-body" name="body" placeholder="Content">{{ post.body or "" }}</textarea>   
          
          <div style="margin-top:10px">
          {%if post.published != True %} <button type="submit" name="submit" value="draft" class="btn">Save as Draft</button>{% endif %}
          <button type="submit" name="submit" value="post" class="btn">Post This</button>  
          </div>        
      </form>
      </div> 
    </div>
  
   
  </div>

</div>
{% endblock %}
